node_modules
yarn-error.log
error.log
coverage
dist
replays
.idea
.cache
.classpath
.project
.settings
*.iml
/.vscode
target

game/.eslintrc.yml

starterkits/csharp/bot/

starterkits/rust/bot/release/

starterkits/rust/bot/
